@model ModelCL.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details2</title>
</head>
<body>
    <div> 
        ProductID:
    </div>
    <div>
        @Model.ProductID
    </div>
    <div>
        Product Name:   
    </div>
    <div>
        @Model.ProductName
    </div>
    <div>

    </div>
</body>
</html>
